.git
.gitignore
README.md
.env
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.dmypy.json
dmypy.json
.pytest_cache
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.idea
.vscode
*.sqlite3
media/
staticfiles/
docker-compose.yml
wait-for-it.sh
railway.json